$primary-color: #0e6fff;
$secondary-color: #ffc928;
$pastel-color: #d1dce5;
$black-color: #23242a;
$white-color: #ffffff;
$red-color: #ff4242;
$pink-color: #ffb19d;
$red-gradient-color: linear-gradient(
    0deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  ),
  #fff4d4;
$blue-gradient-color: linear-gradient(
    0deg,
    #ffffff -45.04%,
    rgba(255, 255, 255, 0) 102.87%
  ),
  #d8f6ff;
$opacity-color: rgba(17, 19, 30, 0.2);
