.section02 {
  width: 1379px;
  margin-left: 140px;
  display: flex;
  gap: 102px;
  align-items: center;
  margin-bottom: 292px;
  img {
    width: 659px;
    height: 534px;
  }

  &_content {
    width: 481px;
    &_heading {
      width: 100%;
      font-family: "Playfair Display";
      font-weight: bold;
      font-size: 3.6rem;
      line-height: 5rem;
      color: #000000;
      margin-bottom: 20px;
    }
    &_text {
      font-family: Mulish;
      font-size: 1.7rem;
      line-height: 3rem;
      color: #7d7987;
      margin-bottom: 39px;
    }
    &_button {
      width: 164px;
      height: 48px;
      background: #fb8f1d;
      border-radius: 8px;
      border: none;
      font-family: Inter;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 4.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
    }
  }
}
