.section06 {
  width: 1120px;
  margin: 0 auto;
  margin-bottom: 271px;
  &_menu {
    display: flex;
    gap: 25px;
    &_item {
      width: 261px;
      img {
        height: 231px;
        border-radius: 8px 8px 0 0;
      }
      &_heading {
        margin-top: 13px;
        font-family: Inter;
        font-size: 1.9rem;
        line-height: 3rem;
        margin-bottom: 13px;
      }
      &_text {
        font-family: Inter;
        font-size: 1.5rem;
        line-height: 2.6rem;
        color: #7d7987;
        margin-bottom: 23px;
      }
      &_link {
        font-family: Inter;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.8rem;
        color: #fb8f1d;
      }
    }
  }
}
